<!-- About Us Page
   ==========================================-->
<div id="tf-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/img/02.png" class="img-responsive">
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h4>About us</h4>
            <h2>Some words <strong>about us</strong></h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="intro">Together, they built automatic CodeChallenges that not only cut thousands of hours in
            recruiting collectively but also helped flatten the world by promoting a meritocracy. This innovation earned
            a spot at the prestigious Y Combinator startup accelerator program. And so HackerRank was born.</p>
          <ul class="about-list">
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Email</strong> - <em>hackergen.code.evaluater@gamil.com</em>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>contact</strong> - <em>+94772554403</em>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <p class="intro"><strong>Important</strong> - you should only use name "Test" to write function and use parameters
      for inputs and HackerGEN will controll them...you should only write function and return results.... HackerGEN will
      excute and do rest for you. Before you submt your answer please check your code with testcases and marks will be
      saved as printed.<br> Teachers should input inputs using " , " if there are multiple inputs.</p>

  </div>
</div>
